            <footer>
                <p> 
                    <span id="copyright">&copy;</span>
                    <script>
                        document.getElementById("copyright").innerHTML = new Date().getFullYear();
                    </script>
                    <span> - </span>
                    <!-- campus mölndal -->
                    <a target="_blank" href="https://www.molndal.se/campus-molndal.html">Campus Mölndal</a>
                </p>
            </footer>
        </div>
    </body>
</html>
<!-- 
                                                     _  _
 ______                                    _______  |_||_| __           __         __ 
|      |.---.-.--------.-----.--.--.-----.|   |   |.-----.|  |.-----.--|  |.---.-.|  |
|   ---||  _  |        |  _  |  |  |__ --||       ||  _  ||  ||     |  _  ||  _  ||  |
|______||___._|__|__|__|   __|_____|_____||__|_|__||_____||__||__|__|_____||___._||__|
                       |__|                                                           
-->
